<div class="authors__container">
  <div class="authors__list">
    <div *ngIf="authors.length > 0; then authorList else noAuthors"></div>
    <button class="add-button" (click)="onAdd()" ></button>
  </div>
  <ng-template #authorList>
    <div class="author__card" [class.even]="isEven" [class.odd]="isOdd" *ngFor="let author of authors;index as i;even as isEven; odd as isOdd">
      <app-favorite [author]="author" (change)="onFavoriteChanged($event)"></app-favorite>
      <span class="author__value"> {{ author.name }}</span>
    </div>
  </ng-template>
  <ng-template #noAuthors>
    <div>No Authors yet!</div>
  </ng-template>
  
</div>
