.authors__container {
  display: flex;
  justify-content: center;
}

.author__card {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  min-width: 400px;
  min-height: 100px;
  flex: 1;
  margin: 30px 0 30px 0;
}

.authors__list {
  display: flex;
  flex-direction: column;
}

.author__value {
  margin: 3px 0 0 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 28px;
}
