@import "../_colors.scss";
.authors__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 300px;
}

.author__card {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  min-width: 400px;
  min-height: 100px;
  flex: 1;
  margin: 30px 0 30px 0;
}

.even {
  background-color: $background-active;
}

.odd {
  background-color: $background-inactive;
}

.authors__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 400px;
}

.author__value {
  margin: 3px 0 0 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: $font-active;
}

.add-button {
  min-width: 80px;
  min-height: 40px;
  background-color: $button-color;
}
