.fav-icon {
  font-size: 50px;
  text-align: center;
  flex: 1;
  margin-top: 10px;
  cursor: pointer;
}

.glyphicon-heart {
  color: deeppink;
}

.glyphicon-heart-empty {
  color: #ccc;
}

.likes-count {
  margin-bottom: 10px;
}

.favorite__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-left: 10px;
}
