<div class="wrapper">
  <div class="scrollbox" >
    <input [(ngModel)]="search" class="search" (focus)="onSearchFocus()" (blur)="onSearchFocus()" placeholder="Filter Attributes" >
    <div class="result-list" [hidden]="!isSearchVisible" >
      <a *ngFor="let attr of ((AD_VALUES | unselected:attributeList) |search:search)" (mousedown)="addAttribute(attr)">{{attr}}</a>
    </div>
    
  </div>
  <div class="attribute__wrapper" *ngFor="let listitem of attributeList; let i = index">
    <div class="attribute-button__container">
        
        <div name="attribute" class="attribute-button__name">{{listitem.attributeName}}</div>
      
      
        <div name="attribute-value" class="attribute-button__value">{{listitem.attributeValue}}</div>
      
      <a class="glyphicon glyphicon-minus attribute-button__remove" (mousedown)="removeAttribute(listitem,i)"></a>
      <a class="glyphicon glyphicon-wrench attribute-button__config"></a>
    </div>
  </div>
  <div class="attribute-button__add" (click)="log()"></div>
</div>

